body {
  font-family: "Avenir Next";
    margin: 0;
   min-height: 100vh;
   display: flex;           /* ← これが必須 */
   flex-direction: column;
}

.main{
  flex: 1;
}
.header{
    background-color: rgb(28, 205, 202);
    color: aliceblue;
    display:flex;
    padding: 0 20px;
    align-items: center;
    gap: 40px;
    
    

}
.title{
    display: flex;
}

.headerdata{
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.footer{
   text-align: center;
   padding: 10px 10px;
    color:white;
    background-color: rgb(0, 213, 255);
}

.footer p{
    margin: 0;
}

.yohaku{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: calc(33% - 20px);
  background: #1e1e1e;
  color: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}